<h1>Editing rating</h1>

<%= render "form", rating: @rating %>

<br>

<div>
  <%= link_to "Show this rating", @rating %> |
  <%= link_to "Back to ratings", topic_post_ratings_path(params[:topic_id], params[:post_id]) %>
</div>
