<div id="<%= dom_id user_comment_rating %>">
  <p>
    <strong>Value:</strong>
    <%= user_comment_rating.value %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= user_comment_rating.comment_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_comment_rating.user_id %>
  </p>

</div>
