<h1>Editing user comment rating</h1>

<%= render "form", user_comment_rating: @user_comment_rating %>

<br>

<div>
  <%= link_to "Show this user comment rating", @user_comment_rating %> |
  <%= link_to "Back to user comment ratings", user_comment_ratings_path %>
</div>
