<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", topic_post_comment_path(params[:topic_id], params[:post_id], comment) %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_topic_post_comment_path(params[:topic_id], params[:post_id]) %>
