<%= form_for(:search, url: posts_path, method: :get) do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.text_field :date, placeholder:"mm/dd/yy - mm/dd/yy", value: date_from_parameters%>
  </div>
  <%= form.submit "Show Results"%>
<% end %>